nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}
.nav-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 4px;
    color: black;
  }
  .link-navBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .navLink {
      margin-right: 2rem;
      position: relative;

      .nav-icons {
        font-size: 1.4rem;
        color: black;
        transition: all 0.4s ease;
        &:hover {
          transform: scale(1.3);
          background: #ffcaa6;
          border-radius: 50%;
        }
      }
      .cartCount {
        position: absolute;
        left: 0.8rem;
        top: -0.8rem;
        background-color: red;
        letter-spacing: 1px;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.3rem;
        height: 1.3rem;
        font-size: 0.7rem;
        font-weight: 900;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.openCart{
  right: 0  !important;
}
.backFilter{
  position: fixed;
  backdrop-filter:blur(10px);
  background: rgba(0, 0, 0, 0.393);
  width: 100% ;
  height: 100%;
  top: 0;
  z-index: 3;
}
.cartBox {
  position: fixed;
  top: 0;
  right: -100rem;
  z-index: 3;
  background-color: white;
  height: 100vh;
  width: 35%;
  padding: 3rem;
  transition: all 0.4s ease;

  .shoppingBagTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .crossIcon{
      font-size: 1.3rem;
      &:hover{
        cursor: pointer;
        transform: scale(1.3);
        transition: all 0.4s ease;
      }
    }
  }
  .cartIn {
    border: 1px solid rgba(0, 0, 0, 0.388);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 55vh;
    overflow-y:scroll;
  }
  .cartDetail {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    
  }
  .descriptionBox{
    width: 13rem;
  }
  .cartImg {
    height: 5rem;
    width: 5rem;
  }
  .removeBtn {
    background-color: black;
    color: white;
    padding: 0.2rem 0.5rem;
  }
  .productF {
    font-size: 1.1rem;
  }
  .priceF {
    font-weight: 900;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .cartBox{
    width: 100%;
    padding: 2rem 1rem;
  }
  .nav-container {
    padding: 1rem 2rem;
    .logo {
      font-size: 1.2rem;
    }
    .link-navBox {
      gap: 0.6rem;
      .navLink {
        margin-right: 0;
        .nav-icons {
          font-size: 1.2rem;
        }
        .cartCount {
          left: 0.8rem;
          top: -0.5rem;
          width: 1.1rem;
          height: 1.1rem;
          font-size: 0.7rem;
        }
      }
    }
  }
}
