@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
*::-webkit-scrollbar{
    display: none;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : Cinzel;
}